@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Poppins:wght@400;600;700&display=swap");

:root {
  --max-screen-width: 1200px;
  --color-pink: #ff575f;
  --color-green: #31beac;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

/*============ utilities Classes =========*/
.btn {
  width: max-content;
  padding: 6px 12px;
  font-size: 1rem;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background 300ms;
}

.btn-pink {
  color: #fff;
  background-color: #ff777e;
}

.btn-pink:hover {
  background-color: var(--color-pink);
}

.container {
  max-width: var(--max-screen-width);
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.underline-hover {
  position: relative;
}

.underline-hover::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: var(--color-pink);
  position: absolute;
  bottom: 0;
  left: 50%;
  transition: 300ms;
}

.active {
  color: var(--color-pink);
  transition: 300ms;
}

.underline-hover:hover::after {
  width: 100%;
  left: 0%;
}

/* ==================BODY STYLE=================== */

/* ==========Header START======== */

.hamburger {
  display: none;
}
header {
  background: rgba(255, 255, 255, 0);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid #fff;
  position: fixed;
  width: 100%;
  padding: 4px 8px;
  top: 0;
  z-index: 100;
}

header .container {
  margin: 4px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 10px;
  font-family: "Poppins";
  font-weight: 500;
}

nav li {
  padding: 4px 8px;
}

nav ul li a {
  padding: 4px 2px;
  color: #000;
  text-decoration: none;
}

/* ====== Main section ===== */

/* Hero */
.hero {
  background: #e0fff9;
  background: -webkit-linear-gradient(
    109deg,
    #e0fff9 0%,
    #feebea 50%,
    #feebea 100%
  );
  background: linear-gradient(109deg, #e0fff9 0%, #feebea 50%, #feebea 100%);
  padding-top: 55px;
}

.hero .container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.right-container,
.left-container {
  min-height: max-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* border: 2px solid red; */
  padding: 0 0.75rem;
}

#text-education {
  color: var(--color-green);
  position: relative;
}

#text-education::after {
  content: "";
  background: var(--color-green);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: 10px;
  left: 0px;
}

.hero h2 {
  font-weight: 600;
  font-size: 5rem;
  line-height: 6rem;
}

.hero p {
  max-width: 25rem;
  margin: 2rem 0;
  color: rgb(77, 88, 99);
  font-size: 1rem;
}

#hero-image {
  width: calc(100% - 20px);
  max-height: 700px;
  object-fit: contain;
  position: relative;
  z-index: 1;
}

.hero .left-container {
  position: relative;
}
.circle {
  background-color: var(--color-pink);
  width: 80%;
  border-radius: 50%;
  position: absolute;
  transform: translateX(10%);
  margin: auto;
  aspect-ratio: 1/1;
  opacity: 0.2;
}

.contact-box {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.contact-box a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
}

.contact-box i {
  color: var(--color-pink);
  background-color: #fff;
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 50%;
}

.contact-box a:hover i {
  position: relative;
  animation: shake 0.5s ease;
}

/* ====== About Coaching section start ====== */

.about-coaching {
  margin: 4rem auto;
}

.about-coaching .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.about-coaching .right-container {
  position: relative;
  margin-bottom: -3rem;
  margin-top: 2rem;
}

.about-coaching .right-container img {
  max-width: 70%;
  aspect-ratio: 4/3;
}

.about-coaching img:nth-child(2) {
  position: relative;
  transform: translate(40%, -40%);
}

.about-coaching .ring {
  width: 50%;
  aspect-ratio: 1/1;
  border: 3rem solid var(--color-pink);
  border-radius: 50%;
  opacity: 0.2;
  position: absolute;
  z-index: -1;
  transform: translate(20px, -20px);
}

.about-coaching h2 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--color-green);
}

.about-coaching p {
  color: #444444;
}

.about-coaching-highlight-heading {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3.5rem;
  margin-bottom: 3rem;
  color: #000 !important;
}

.about-coaching-highlight-heading span {
  color: var(--color-pink);
  position: relative;
  width: max-content;
}

.about-coaching-highlight-heading span img {
  position: absolute;
  top: 90%;
  left: 0%;
  width: 100%;
  aspect-ratio: 10 / 1;
}

.about-coaching-highlight {
  margin: 1rem 0.2rem;
  display: grid;
  grid-template-columns: 4rem auto;
  gap: 1.5rem 0.7rem;
  align-items: center;
}

.about-coaching-highlight img {
  width: calc(100% - 20px);
  max-width: 3.7rem;
  aspect-ratio: 1/1;
  padding: 0.9rem;
  border-radius: 50%;
  background-color: #31beab20;
}

/* ============== Key Frames ========== */

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media (max-width: 1024px) {
  .hero h2 {
    font-size: 3.7rem;
    line-height: 4.1rem;
  }
}
